/* src/App.css */

.App {
  text-align: center;
}

input[type="file"] {
  margin: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.svg-container {
  margin: 20px auto;
  width: 80%;
  height: auto;
  border: 1px solid #ddd;
}

rect, path {
  stroke: blue;
  fill: transparent;
}

rect.selected, path.selected {
  fill: rgba(0, 0, 255, 0.5);
}
